@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    font-size: 62.5%;

    --col-prim: #333;
    --col-prim-lg: #555;
    --col-prim-dk: #111;
    --col-sec: goldenrod;
    --col-sec-lg:  gold;
    --col-sec-dk: darkgoldenrod;
    --col-ter: orangered;
    --col-ter-lg: red;
    --col-ter-dk: darkred;
    --col-grey: #ccc;
    --col-grey-lg: #eee;
    --col-grey-dk: #aaa; 

    --trans-dur: 0.3s;
    --font-size-title: cal(2rem + 2vw);
    --padding-sec: 8vh 3vw;
}


/* Keeping fonts, resets and variables */