@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    font-size: 62.5%;

    --col-prim: #333;
    --col-prim-lg: #555;
    --col-prim-dk: #111;
    --col-sec: goldenrod;
    --col-sec-lg:  gold;
    --col-sec-dk: darkgoldenrod;
    --col-ter: orangered;
    --col-ter-lg: red;
    --col-ter-dk: darkred;
    --col-grey: #ccc;
    --col-grey-lg: #eee;
    --col-grey-dk: #aaa; 

    --trans-dur: 0.3s;
    --font-size-title: cal(2rem + 2vw);
    --padding-sec: 8vh 3vw;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.7;
    background-color: var(--col-grey);
}

.container {
    display: grid;
    grid-template-columns: 
        [container-start] 1fr [center-start] repeat (
            10,
            [col-start] minmax(min-content, 11rem) [col-end]
        )
        [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8, min-content);
}

a:link,
a:visited {
    color: var(--col-grey);
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    transition: all var(--trans-dur) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
}

p {
    color: white;
    font-size: calc(1rem +1vw);
    font-weight: 200;
}

li {
    list-style: none;
    margin-bottom: 4rem;
}

i {
    font-size: var(--font-size-title);
    color: var(--col-sec);
}

header#header {
    grid-column: container-start / container-end;
    background: linear-gradient(
        /* var(--col-prim-lg),
        var(--col-prim-lg) */
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6)
    ),
    url('./images/Hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.main-nav input[type='checkbox'] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.main-nav-hamburger {
    position: absolute;
    top: 3rem;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    background-color: var(--col-sec);
    z-index: 2;
    display: grid;
    place-items: center;
    animation: main-nav 2s; 
}

@keyframes main-nav {
    0% {
        transform:  translateX(150rem) rotate(1800deg);
        opacity: 0;
    }
    100% {
        transform: translatex(0) rotate(0);
        opacity: 1;
    }
}

.main-nav-hamburger > div {
    position: relative;
    width: 100%;
    background-color: var(--col-grey);
    display: grid;
    place-items: center;
    transition: all var(--trans-dur ease-in-out);
}

.main-nav-hamburger > div::before,
.main-nav-hamburger > div::after {
    content: '';
    position: absolute;
    top: -1rem;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
}

.main-nav-hamburger > div::before {
    left: 0;
}

.main-nav-hamburger > div::after {
    top: 1rem;
    right: 0;
}

.main-nav input[type='checkbox']:checked + .main-nav-hamburger > div {
    transform: rotate(135deg);
}

.main-nav input[type='checkbox']:checked + .main-nav-hamburger > div::before {
    left: 0;
    right: 0;
    width: 100%;
    transform: rotate(270deg);
}

.main-nav input[type='checkbox']:checked + .main-nav-hamburger > div::after {
    opacity: 0;
}

.main-nav input[type='checked']:checked:hover + .main-nav-hamburger > div {
    transform: rotate(405deg);
}

.main-nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.main-nav-menu > div {
    /* background-color: var(--col-sec-dk); */
    background-color: rgba(0, 0, 0, 0.7);
    height: 200%;
    width: 200%;
    display: grid;
    place-items: center;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}

.main-nav-menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}